*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
}
nav a:hover , a:focus{
    text-decoration: 1.8px underline #e67e22;
    background-color: transparent;
}

.container{
    background-image:url("../img/gallery/gallery-7.jpg");
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.home{
    display: grid;
    background-color: rgba(202, 202, 202, 0.822) ;
    width:95vw ;
    height: 83vh ;
    border-radius: 1em;
}
.home-img{
    width: 40vw;
    height: 45vh;
    margin-top: 2em;
    background-image: url("../img/gallery/gallery-3.jpg");
    background-size:contain;
}
.home-info{
    margin:2em 2em 0 0;
    float: right;

}
.more-info{
    margin-right: 2em;
    display: flex;
    gap: 2.5em;
    float: right;
}
.branding a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.learn-more{
    background-color: black;
    border-radius: 0.2em;
    padding: 0.4em;
}
.subscription{
    background-color:#e67e22;
    border-radius: 0.2em;
    padding: 0.4em;
}
.branding a:hover, a:focus{
    background-color: lightgray;
}
.partners{
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: bolder;
    font: italic;
}
